.active{
    
    background-color: #9ef01a ;
    color: #212529 !important;
    border-radius: 7px;
}
html{
  overflow-x: hidden;
}
.nome-brand{
    color: #9ef01a;
    margin-right: 2rem;
    text-shadow:
      0 0 7px #9ef01a,
      0 0 10px #9ef01a,
      0 0 21px #9ef01a,
      0 0 42px #9ef01a,
      0 0 82px #9ef01a,
      0 0 92px #9ef01a,
      0 0 102px #9ef01a,
      0 0 151px #9ef01a;
}
/*Scrol bar geral*/
::-webkit-scrollbar-corner{
  border-radius: 400px;
  background-color: #1654c9;
}
:-webkit-scrollbar-track {
    background-color: #1654c9;
}
::-webkit-scrollbar {
    width: 6px;
    background: #212529;
}
::-webkit-scrollbar-thumb {
    background: #b100e8;
}
/*input number geral*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section{
    color: white;
}
.container-box-cards{
    margin-top: 3rem;
   
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 15px;

}
.card-items{
    padding: 1rem;
    border-radius: 8px;
    background-color: #212529;
    width: 400px;
    filter: drop-shadow( 1px 1px 1px #b100e8);
    height: 200px;
    
    animation: animeBack 5s infinite ease;
}
@keyframes animeBack {
    0%{
        filter: drop-shadow( 1px 1px 1px #ffffff);
        
    }50%{
        filter: drop-shadow( 1px 1px 1px #b100e8);
    }100%{
        filter: drop-shadow( 1px 1px 1px #9ef01a);
    }
}

.card-items:hover {
      box-shadow: 0 0 5PX #b100e8, 
                  0 0 10px #b100e8,
                  0 0 20px #b100e8 !important;
      transform: scale(1.05) !important;
}
.card-forms{
    z-index: 1;
    margin-bottom: 1rem;
    border: 1px soldi white;
    background-color: #212529;
    
    filter: drop-shadow( 1px 1px 2px #b100e8);
    padding: 3rem;
    border-radius: 6px;
    height: auto;
}
.form-control-person {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #212529;
  background-clip: padding-box;
  border: 1px solid #b100e8;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-person:focus {
  color: white;
  background-color: #212529;
  border-color: #b100e8;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #212529;
}
.is-valid-person {
  border-color: #198754;
  padding-right: 2.25rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23198754' viewBox='0 0 16 16'%3E%3Cpath d='M16 2L6 14 0 8l1.5-1.5L6 11 14.5 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem 1rem;
}
.is-invalid-person {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 011 0L8 7.293l2.354-2.647a.5.5 0 11.708.708L8.707 8l2.647 2.354a.5.5 0 01-.708.708L8 8.707l-2.354 2.647a.5.5 0 01-.708-.708L7.293 8 4.646 5.646a.5.5 0 010-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem 1rem;
}
/* Style de base pour tous les boutons */
.btn-person {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

/* Style du bouton principal */
.btn-person {
  color: #fff;
  background-color: #212529;
  border-color: #b100e8;
}

.btn-person:hover {
  background-color: #b100e8;
  border-color: #b100e8;
}

.btn-person:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b100e8;
}
.card-forms-body-itens{
 
  column-gap: 14px;
  height: 600px ;
  overflow-y: scroll;
  
}
.card-itens-style{
  margin-top: 0.5rem;
  width: 100%;
  height: 100px;

  background-color: #212529;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.card-itens-style:hover{
  border-left: 5px solid #9ef01a;
  cursor: pointer;
}
.org-livros{
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  flex: 200 1 1;
  gap: 10px;
  overflow-y: scroll;
  height: 600px;
  padding: 0.3rem;
}
/** 
Botão personalizado 2
**/
.btn-person2{
 display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
   color: #fff;
  background-color: #198754;
  border-color: none;
}
.config-title{
  display: flex;
  justify-content: space-between;
}
.form-genero{
  
  position: absolute;
  
  border: 1px solid whitesmoke;
  transition: margin-bottom 1rem 0.4s ease;
  background-color: #212529;
  border-radius: 9px;
  height: auto;
  right: 15px;
  width: auto;
}
.box-config-genero{
  padding: 1rem;
  height: auto;
  border-radius: 8px;
  
}